.page3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    background-image: url(../img/page3/p3_bg@2x.png);
    background-position: top;
    background-size: cover;
    background-color: #E6E9EB;
    z-index: 8;
}

.page3 h1 {
    color: white;
    font-size: 2.4vw;
    font-weight: 900;
}

.page3 h1 span {
    font-weight: 100;
}

.page3 .piramide {
    height: 27.5vw;
    right: 0;
    width: 86%;
    position: absolute;
    background-image: url(../img/page3/piramide@2x.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    z-index: 8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8vw 9.5vw 0 0;
    top: 26vw;
}



.page3 .rode {
    height: 34vw;
    width: 100%;
    position: absolute;
    background-image: url(../img/page3/p3_hills@2x.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    z-index: 9;
    bottom: 14vw;
}

.page3 .cow_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    z-index: 9;
    right: 0;
}

.fix_cow .blue_cow_block {
    width: 40.6vw;
    height: 21.6vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.page3 .cow_section .hills {
    width: 42%;
    height: 34px;
    background-image: url(../img/page3/little_hills_p3@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: relative;
    bottom: 21px;
    left: -8vw;
}

.page3 .cow_section .brown_cow {
    width: 60%;
    height: 24vw;
    background-image: url(../img/page3/cow_brown@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    opacity: 1 !important;
    position: relative;
}

.page3 .cow_section .broun_cow_block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.page3 .cow_section .broun_cow_block .hills {
    width: 50%;
    height: 33px;
    background-image: url(../img/page3/brown_cow_hills.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 8vw 0 0;
    left: 0;
}


.page3 .cont_sec {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    z-index: 9;
    bottom: 0;
}

.page3 .cont_sec .text_box {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4vw;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F8F2;
    border-radius: 37px 37px 0 0;
    padding: 3.1vw;
    position: relative;
    /*    z-index: 10;*/
}


.page3 .cont_sec .left_side {
    position: relative;
    width: 43%;
    height: 18vw;
    background-image: url(../img/page3/p3_left_side@2x.png);
    background-position: 123% 0%;
    background-repeat: no-repeat;
    background-size: 102%;
    left: -8px;
}

.page3 .cont_sec .right_box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 29%;
    margin: 0vw 0 0 -10vw;
    right: -2vw;
    z-index: -1;
}

.page3 .cont_sec .right_box img {
    position: relative;
    z-index: 9;
    width: 80%;
    opacity: 1 !important;
}

.fix_cow_p1 {
    width: 32vw;
    height: 27vw;
    background-image: url(../img/page1/blue_cow@2x.png);
}

.fix_cow_p2 {
    width: 26.6vw;
    height: 20.8vw;
    opacity: 0;
    left: 0vw;
}

.fix_cow {
    width: 28.6vw;
    height: 22.8vw;
    bottom: 16.5vw;
    left: 0vw;
    opacity: 0;
    transition: all .5s;
    background-image: url(../img/page3/cow_sec@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: fixed;
}

.fix_cow_p2 {
    position: absolute;
    left: 15vw;
    opacity: 1;
    width: 28.6vw;
    height: 22.8vw;
    bottom: 0;
    transition: all 2s;
}

.fix_cow_p3 {
    position: fixed;
    left: 15vw;
    opacity: 1;
    width: 28.6vw;
    height: 22.8vw;
    bottom: 16.5vw;
    transition: all 2s;
}

.fix_cow_p6 {
    position: fixed;
    width: 21vw;
    height: 16.8vw;
    bottom: 18.5vw;
    left: 29vw;
    opacity: 1;
    transition: all 2s;
}

.fix_cow_p7 {
    position: fixed;
    width: 17vw;
    height: 13.8vw;
    bottom: 22.5vw;
    left: 17.3vw;
    opacity: 1;
    transition: all 2s;
}

.fix_cow_p8 {
    position: fixed;
    width: 17vw;
    height: 13.8vw;
    bottom: 22.5vw;
    left: 27vw;
    opacity: 1;
    transition: all 2s;
}

.fix_cow_p9 {
    position: fixed;
    opacity: 1;
    width: 16.3vw;
    height: 13vw;
    bottom: 23.5vw;
    left: 27.4vw;
    background-image: url(../img/page3/cow_sec@2x.png);
    transition: all 1s;
}

.fix_cow_p10 {
    position: fixed;
    opacity: 1;
    width: 23vw;
    height: 20vw;
    bottom: 32vw;
    left: 39vw;
    background-image: url(../img/page1/blue_cow@2x.png);
    transition: all 1s;
    z-index: 20;
}
